.header {
    background-color: aquamarine; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center
}


.navbar-light .navbar-brand {

    font-family: 'Ultra', serif;
    font-size: 80px;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    
}